
service: pagos

plugins: 
  - serverless-offline
  - serverless-dotenv-plugin
  - serverless-plugin-typescript

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs16.x
  stage: ${opt:stage, 'dev'}




functions:
  pagos:
    handler: src/application/index.handler
    events:
      - httpApi:
          path: /
          method: get 
      - httpApi:
          path: /
          method: post 
      - httpApi:
          path: /
          method: put 